/* remove margin on  the sides of the page */
body{
  margin: 0 0 0 0;
  font-family: 'Noto Serif', serif;
  background-color: #000000;
  color: #f2f2f2;
}

header {
   /*use display flex to align items horizontally  */
  display: flex;
  /*overflow: hidden is for anything that goes beyond the div. for example link highlight when hovered  */
  overflow: hidden;
  /*setting navbar fixed on top.  */
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  margin-left: 0px;  /* use flex-direction to make it a column flex rather than the default row */
  flex-direction: column;
  text-align:center;
  /*viewport %  see https://tutorialzine.com/2015/05/simplify-your-stylesheets-with-the-magical-css-viewport-units  */
  height: 15vh;
  background-color: #000000;
}


#header-img{
  width: auto;
  height: 75px;
  margin-left: 10px;
  align-self: center;
  margin-bottom: 30px;
}

/* use align-self flex-end to postion to the navbar at the center */
#navigation{
  align-self: center;
}




/* format the navigation buttons */
#navigation a{
  color: #f2f2f2;
  text-align: center;
  padding: 14px  16px;
  text-decoration: none;
  font-size: 20px;
  margin: 0 10px 0 10px;
}

#navigation a:hover{

  font-size: 25px;
  font-weight: bold;
}

#welcome-section{
  height: 85vh;
  color: #f2f2f2;
  /* put padding-top as nav bar is position is fixed and will cover the content. */
  padding-top: 15vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

}

#capabilities{
  height:100vh;
  margin: auto;
  text-align: center;

}
